/display
.gitignore
/firmware/binaries
/firmware/config
/firmware/doc
/firmware/sdk
/firmware/third_party
/firmware/utilities
/firmware/projects/target_apps/weather_station/central/assets
*.map
*.lst
*.bin
*.txt